* {
    font-family: "Roboto", sans-serif;
}

.main__container {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
}

.main__ggmap {
    padding: 0 15px 30px;
}

.svg {
    width: 30px;
    height: 100%;
}

.contact__address {
    padding: 30px 15px 30px;
    display: flex;
}

.contact__svg {
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgb(153, 96, 21);
}

.contact__conten {
    padding: 0 15px 30px;
}

.contact__title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.contact__address-item {
    display: flex;
    width: 33.333%;
}

.contact__p {
    color: rgb(95, 93, 93);
    font-size: 16px;
    padding: 4px 0;
    line-height: 25px;
    font-weight: 500;
}

.contact__conten span {
    color: #000;
    font-weight: 700;
    display: block;
    padding: 8px 0;
}
.contact__info{
    display: flex;
    flex-wrap: wrap;
    width: 780px;
    max-width: 100%;
    padding: 0 15px 30px;
    margin: auto;
    height: 100%;
}
.contact__input{
    margin: 4px ;
    width: calc(50% - 8px);
    height: 40px;


}
.contact__inputs{
    width: 100%;
    margin: 4px ;
    height: 150px;
}
.contact__input-name{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding:0 10px ;
    color: #000;
    font-size: 16px;
    border-radius: 8px;
    background-color: #f1f1f1;
}

.contact__input-btn{
    width: 100%;
    margin: auto;
    display: flex;
    margin-left: 33%;
}

.contact__btn{
    height: 40px;
    outline: none;
    color: #fff;
    background-color: #c89979;
    border: none;
    margin: 4px ;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    font-weight: 700;
    min-width: 50%;
}

.class__btn {
    line-height: 40px;
    width: 100px;
    right: 14px;
    align-items: center;
    background-color: #c89979;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.class__link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

@media (min-width:600px) and (max-width:1000px) {
    .contact__address{
        flex-wrap: wrap;
    }
    .contact__address-item{
        width: 50%;
    }
    .main__container{
        margin-top: 80px;
    }
    .contact__input-name{
        border-radius: 20px;
    }
    .contact__btn{
        border-radius: 20px;

    }
}

@media (max-width:599px) {
    .contact__address{
        flex-wrap: wrap;
    }
    .main__container{
        margin-top: 80px;
    }
    .contact__address-item{
        width: 100%;
    }
    .contact__input{
        width: 100%;
    }
    .contact__input-name{
        border-radius: 20px;
    }
    .contact__btn{
        border-radius: 20px;

    }
}